<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSPTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<description>컨텍스트파라미터테스트</description>
  	<param-name>tel</param-name>
  	<param-value>01000000000</param-value>
  </context-param>
 
 <!--
  <error-page>
  	<exception-type>java.lang.ArrayIndexOutOfBoundsException</exception-type>
  	<location>/jsp/error/array.jsp</location>
  </error-page>
  
  <error-page>
  	<exception-type>java.lang.ClassCastException</exception-type>
  	<location>/jsp/error/classCast.jsp</location>
  </error-page>
   --> 
   
  <error-page>
  	<error-code>404</error-code>
  	<location>/jsp/error/404.jsp</location>
  </error-page>
  
  <error-page>
  	<error-code>500</error-code>
  	<location>/jsp/error/500.jsp</location>
  </error-page>
  
  <jsp-config>
  	<jsp-property-group>
  		<url-pattern>/jsp/*</url-pattern>
  		<include-prelude>/jsp/jsfp/top.jsp</include-prelude>
  		<include-coda>/jsp/jsfp/top.jsp</include-coda>
  		
  	</jsp-property-group>
  </jsp-config>
  
  	<!--  세션 타임아웃을 분 단위로 설정 -->
  	<session-config>
  		<session-timeout>60</session-timeout>
  	</session-config>
</web-app>